<footer class="w-full text-center {{theme.footer.background}} {{theme.footer.main}} py-8 px-4 flex flex-col flex-auto gap-y-4">
    <div class="">
        <a
        class="transition ease-in-out hover:scale-105 inline-block"
        href="/"
        title="Home"
        >
            <img src="/images/logo/dj-cruze-logo-white.svg" width="228" height="62" title="DJ Cruze" alt="DJ Cruze logo" class="block mx-auto" />
        </a>
    </div>

    <div class="w-full mx-auto py-2 text-center flex justify-center items-center gap-x-8 flex-auto">
        {% for socialItem in socialMedia %}
        <a href="{{ socialItem.url }}" title="{{ socialItem.title }}" class="transition ease-in-out hover:scale-110 {{theme.footer.hover}} block" aria-label="{{socialItem.name}} icon">
        {% if socialItem.icon %}
        {{ socialItem.icon }}
        {% endif %}
        </a>
        {% endfor %}
    </div>
    <div class="w-full mx-auto text-center">
        <p class="uppercase text-xl">&copy; Copyright 2003 - {{"now" | date: "%Y"}}</p>
    </div>
</footer>
