<head>
    {% include partials/googleAnalytics %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if page.url == '/' %}
    <title>{{title}}</title>
    {% else %}
    <title>{{title}} | {{site.description}}</title>
    {% endif %}

    <meta name="description" content="{{site.description}}" />
    <meta name="author" content="{{site.author}}" />

    {% include partials/favicons %}
    
    <link
        rel="stylesheet"
        href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />

    <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap"
        rel="stylesheet"
    />
    <script
        src="https://kit.fontawesome.com/d38990851e.js"
        crossorigin="anonymous"
    ></script>

    {% include partials/openGraph %}

    <link href="/amplitude.css" rel="stylesheet" />
    <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/amplitudejs@5.2.0/dist/amplitude.js"
    ></script>

    <style>
        body {
            font-family: 'Source Sans Pro', sans-serif;
        }
    </style>
</head>
