<header class="w-100 white bg-white">
  <nav class="dn db-m db-l dt-l w-80 center border-box pa3 ph5-l" id="webNavigation">
    <a
      class="db dtc-l v-mid link grow w-100 w-25-l tc tl-l mb2 mb0-l"
      href="/"
      title="Home"
    >
      <img
        src="/images/logo/dj-cruze-logo-black.svg"
        width="228"
        height="62"
        title="DJ Cruze"
        alt="DJ Cruze logo"
      />
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l ttu pt3-m">
      {% for menuItem in mainMenu %} {% if page.url contains menuItem.url and
      menuItem.url != "/" or page.url == "/" and menuItem.url == "/" %}
      <a
        class="link dim near-black f5 f4-ns fw8 dib mr3 mr4-l bb bw1 pb1"
        href="{{menuItem.url}}"
        title="{{menuItem.title}}"
        >{{menuItem.name}}</a
      >
      {% else %}
      <a
        class="link dim near-black f5 f4-ns fw8 dib mr3 mr4-l"
        href="{{menuItem.url}}"
        title="{{menuItem.title}}"
        >{{menuItem.name}}</a
      >

      {% endif %} {% endfor %}
    </div>
  </nav>

  {% comment %} Mobile menu {% endcomment %}
  <nav class="dn-ns w-100 center pt3 pb2 ph3">
    <div class="flex items-center">
      <div class="w-50">
        <a
          class="link grow"
          href="/"
          title="Home"
        >
          <img
            src="/images/logo/dj-cruze-logo-black.svg"
            width="228"
            height="62"
            title="DJ Cruze"
            alt="DJ Cruze logo"
          />
        </a>
      </div>
      <div class="w-50 tr">
        <i class="fa fa-2x fa-bars near-black dn-l" aria-hidden="true" id="navigationButton"></i>
      </div>
    </div>

    <div class="dn v-mid w-100 w-75-l tc tr-l ttu" id="mobileNavigation">
      <ul class="list pl0 measure center near-black">
      {% for menuItem in mainMenu %} {% if page.url contains menuItem.url and
      menuItem.url != "/" or page.url == "/" and menuItem.url == "/" %}
        <li class="lh-copy pv2 ba bl-0 bt-0 br-0 b--black-10">
          <a
          class="link dim white f4 fw7 dib mr3 mr4-l bg-near-black ph2"
          href="{{menuItem.url}}"
          title="{{menuItem.title}}"
          >{{menuItem.name}}</a>
        </li>
        {% else %}
        <li class="lh-copy pv2 ba bl-0 bt-0 br-0 b--black-10">
          <a
          class="link dim near-black f4 fw7 dib mr3 mr4-l"
          href="{{menuItem.url}}"
          title="{{menuItem.title}}"
          >{{menuItem.name}}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>  
</header>