<div class="w-full px-4 xl:px-0">
    <a href="{{item.url}}" class="group block">
        {%- if item.data.media.image -%}
            <img src="{{item.data.media.image}}" alt="{{item.data.title}}" title="{{item.data.title}}" class="w-100 shadow-md rounded-sm group-hover:opacity-80"/>
        {%- else -%}
            <img src="/images/mixes/dj-cruze-mix-logo-600x600.jpg" alt="{{item.data.title}}" title="{{item.data.title}}" class="w-100 shadow-md rounded-sm group-hover:opacity-80"/>
        {%- endif -%}

        <div class="w-100 pt-4">
            <h3 class="{{theme.main.text}} font-bold text-2xl group-hover:underline text-center">{{item.data.title}}</h3>
        </div>
    </a>
</div>
