
<div class="cf pa2">
{% for item in collection reversed %}

<div class="fl w-50 w-25-ns pa2">
<a href="{{item.url}}" class="db link dim tc">
{% if item.data.media.image %}
<img src="{{item.data.media.image}}" alt="{{item.data.title}}" title="{{item.data.title}}" class="w-100 db black-10 shadow-4"/>
{% else %}
<img src="/images/mixes/default-logo-600x600.jpg" alt="{{item.data.title}}" title="{{item.data.title}}" class="w-100 db black-10 shadow-4"/>
{% endif %}
<dl class="mt2 f4 lh-copy">
<dt class="clip">Title</dt>
<dd class="ml0 black truncate w-100">{{item.data.title}}</dd>
</dl>
</a>
</div>

{% endfor %}

</div>
