<div class="w-100 w-50-ns pt2 pb4 ph0 ph1-ns">
    <a href="{{item.url}}" class="link dim">
        {%- if item.data.media.image -%}
            <img src="{{item.data.media.image}}" alt="{{item.data.title}}" title="{{item.data.title}}" class="w-100 black-10 shadow-4 br1"/>
        {%- else -%}
            <img src="/images/mixes/dj-dcruze-mix-logo-600x600" alt="{{item.data.title}}" title="{{item.data.title}}" class="w-100 black-10 shadow-4 br1"/>
        {%- endif -%}

        <div class="w-100">
            <h3 class="f4 f3-l fw7 tc ttu near-black pv0 mv0">{{item.data.title}}</h3>
        </div>
    </a>
</div>
