{% if theme == 'light' -%}
    {%- assign titleColour = 'silver' -%}
    {%- assign itemColour = 'near-black' -%}
    {%- assign copyColour = 'near-black' -%}
{%- else -%}
    {%- assign titleColour = 'light-silver' -%}
    {%- assign itemColour = 'near-white' -%}
    {%- assign copyColour = 'near-white' -%}
{%- endif -%}

<div class="pv2 pv4-ns ph2 ph0-ns flex flex-wrap justify-center items-center">
    <div class="w-100 w-40-ns">
        <a href="{{item.url}}" class="link dim" title="{{item.data.title}}" alt="{{latestTitle}}">
            {%- if item.data.media.image -%}
                <img class="w-100 shadow-4 br1" src="{{item.data.media.image}}" alt="{{item.data.title}}" title="{{item.data.title}}" />
            {%- else -%}
                <img class="w-100 shadow-4 br1" src="/images/mixes/" alt="{{item.data.title}}" title="{{item.data.title}}" />
            {%- endif -%}
        </a>
    </div>
    <div class="w-100 w-60-ns ph0 ph2-ns">
        {%- if latestTitle -%}
        <h3 class="f4 f3-l fw7 tc ttu pv0 mt2 mt0-ns mb2 {{titleColour}} lh-title">{{latestTitle}}</h3>
        {%- endif -%}
        <a href="{{item.url}}" class="link underline-hover {{itemColour}}" title="{{item.data.title}}" alt="{{latestTitle}}">
            <h3 class="f3 f1-l fw7 tc ttu pv0 mt2 mt0-ns mb0 {{itemColour}} lh-title">{{item.data.title}}</h3>
        </a>
        {%- if item.data.excerpt -%}
        <div class="f4 f3-ns pv1 ph2 lh-copy tc {{copyColour}}">
            {{item.data.excerpt}}
        </div>
        {%- endif -%}
    </div>
</div>
